*{
  margin: 0px;
  padding: 0px;
}

h1 > a{
  font: bold 50px verdana , sans-serif;
  text-decoration: none;

}

 h2 > a{
  font: bold 20px verdana, sans-serif;
  text-decoration: none;
}

h2 {
  font: bold 20px verdana, sans-serif;
}

th{
  font: bold 15px verdana, sans-serif;
}

td{
  font: 12px verdana , sans-serif;
}

header , section, aside, hgroup, nav, footer, article, figcaption, figure{
  display: block;
}

body{
  text-align: center;
}

#agrupar{
  width: 1000px;
  margin: 15px auto;
  text-align: left;
}

#cabecera {
  background: #dcdcdc;
  border: 1px solid #999999;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  text-align: center;

}

#seccion1{
  border: 1px solid #999999;
  padding: 20px;
  background: #fffff0;
  margin: 3px;
}

#seccion2{
  border: 1px solid #999999;
  padding: 20px;
  background: #fffff0;
  margin: 3px;
}

#menu{
  background: #fffff0;
}

footer{
  background: #dcdcdc;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
}
