*{
  margin: 0px;
  padding: 0px;
}

h1{
  font: bold 30px verdana , sans-serif;
}

h2{
  font: bold 20px verdana, sans-serif;
}

th{
  font: bold 15px verdana, sans-serif;
}

td{
  font: 12px verdana , sans-serif;
}

header , section, aside, hgroup, nav, footer, article, figcaption, figure{
  display: block;
}

body{
  text-align: center;
}

#agrupar{
  width: 1000px;
  margin: 15px auto;
  text-align: left;
}

#cabecera {
  background: #FFFBB9;
  border: 1px solid #999999;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

#seccion1{
  margin: 15px auto;
  border: 1px solid #999999;
  padding: 20px;
  border-radius: 5px;
  background: #FFFBB9;
}

#seccion2{
  margin: 15px auto;
  border: 1px solid #999999;
  padding: 20px;
  border-radius: 5px;
  background: #FFFBB9;
}

#menu{
  background: #CCCCCC;
  margin: 15px auto;
  border-radius: 5px;
}

footer{
  background: #CCCCCC;
  text-align: center;
}
